.method {
    text-transform: uppercase
}

.uri {
    width: 30em;
    margin-right: 2em;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
}

div.details {
    display: none;
}

pre {
    white-space: pre-wrap;
}

p.title {
    border-bottom: 2px solid #a9a9a9;
}

.bodySize {
    width: 3em;
    white-space: nowrap;
    display: inline-block;
}

/*.timelineBar {*/
    /*width: 300px;*/
    /*margin: 0;*/
    /*height: 1em;*/
    /*display: inline-block;*/
/*}*/

div.request {
    border-bottom: 1px solid #efefef;
    font-family: Lucida Grande, Tahoma, sans-serif;
    font-size: 10pt;
}
.timelineWaiting {
    background-color: #f3f3f3;
    border: 1px solid #e3e3e3;
}
.timelineBlocked {
    background-color: #DECCB2;
    border: 1px solid #cEbCa2;
}

.timelineDns {
    background-color: #63B3C0;
    border: 1px solid #53A3B0;
}

.timelineSsl {
    background-color: #98B89B;
    border: 1px solid #88A88B;
}

.timelineConnect {
    background-color: #A7D83E;
    border: 1px solid #97C82E;
}

.timelineSend {
    background-color: #D89A89;
    border: 1px solid #C88A79;
}

.timelineWait {
    background-color: #9082B2;
    border: 1px solid #8072A2;
}

.timelineReceive {
    background-color: #B4B4B4;
    border: 1px solid #A4A4A4;
}

span.timelineSlice {
    margin: 0;
    height: 11pt;
    display: inline-block;
    /*text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);*/
}

span.plus {
    background-image: url(twisty-sprites.png);
    background-repeat: no-repeat;
    background-position: 3px 3px;
    cursor: pointer;
}

span.minus {
    background-image: url(twisty-sprites.png);
    background-repeat: no-repeat;
    background-position: 3px -16px;
    cursor: pointer;
}

.hv-header {
    margin: 0;
    font-weight: bold;
    color: #565656;
}

.hv-body {
    margin: 2px 0;
}

span.time {
    width: 3em;
    text-align: right;
    float: right;
}
.ui-widget {
    font-family: inherit;
    font-size: inherit;
}

.ui-tabs .ui-tabs-nav {
    padding: 0;
}

.ui-widget-header {
    background: none;
}

.ui-tabs .ui-tabs-nav li {
    margin: 0;
}

.ui-widget-header {
    border: none;
    border-bottom: 1px solid #AAA;
}

/*.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {*/
    /*border: none;*/
/*}*/
/**/
.ui-tabs .ui-tabs-nav li a{
    padding: 2px;
}
/**/
.ui-tabs .ui-tabs-panel {
    padding-left: 4px;
}
/**/
/*.ui-tabs-panel {*/
/*}*/

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    -moz-border-radius: 0px/*{cornerRadius}*/;
    -webkit-border-radius: 0px/*{cornerRadius}*/;
    -khtml-border-radius: 0px/*{cornerRadius}*/;
    border-radius: 0px/*{cornerRadius}*/;
}